<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="/resources/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/resources/bootstrap-4.0.0-dist/css/bootstrap.min.css"/>
    <script src="/resources/popper.min.js"></script>
    <script src="/resources/vue.js"></script>
    <script src="/resources/underscore.js"></script>
    <link href="/resources/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="/resources/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

    <link href="/global.css" rel="stylesheet">
</head>
<body>
<div class="popupBody" id="ruleset-page">
    <header>
        <a href="/index.html">
            <span class="oi oi-home"></span>
        </a>
        <h3>
            <span>Rule Sets</span>
        </h3>
    </header>

    Name: <input v-model="ruleSet.name">
    <div>
        <button class="btn btn-primary" v-on:click="prevRule()">Prev</button>
        Rule ({{ruleIndex + 1}}/{{ruleSet.rules.length}})
        <button class="btn btn-primary" v-on:click="nextRule()">Next</button>
        <h4>{{ ruleSet.rules[ruleIndex].innerText }}</h4>
        <input v-model="userText">&nbsp;<button class="btn" v-on:click="updateMatchedTokens()">Find</button>

        <p v-for="token in matchedTokens">
            <!--<span ng-if="token.before">{{token.before.innerText}}</span>-->
            <strong>{{token.innerText}}</strong> - {{token.elements}}
            <!--<span ng-if="token.after">{{token.after.innerText}}</span>-->
            <button v-on:click="pickToken(token.id, token.innerText)">Select</button>
        </p>
    </div>
    <button class="btn btn-secondary" v-on:click="save()">Save</button>
</div>
<script src="ruleSetController.js"></script>
</body>
</html>