body {
    width: 250px;
    min-height: 300px;
    background: rgba(255, 255, 255, .8) url("images/cream-pixels.png") repeat;
    border-radius: 5px;
    margin: 0;
    user-select: none;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: black;
}

header {
    background: rgba(225, 225, 225, .8) url("images/binding-light.png") repeat;
    text-align: center;
    padding-right: 5px;
}

header a {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    font-size: larger;
    position: relative;
}

footer {
    width: 96%;
    margin-top: 3px;
    margin-left: 2%;
    position: fixed;
    bottom: 0;
}

footer .btn {
    width: 100%;
    margin-bottom: 3px;
}

th {
    background-color: rgba(169, 169, 169, .8);
    align-content: left;
}

.btn {
    border-radius: 0;
    background-color: #555566;
    border-color: #4e555b;
    color: white;
}
.btn:hover {
    background-color: #707080;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}




.logo {
    height: .8em;
    margin-bottom: .2em;
}

.main-menu {
    background-color: transparent;
    width: 84%;
    margin-left: 8%;
}

.main-menu a {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
}

.main-menu a:hover {
    background-color: rgba(0, 0, 0, .12);
}

.btn.main-menu-last {
    border-bottom: transparent;
}



#labrador-scrape-dropdown-rule {
    width: 96%;
    margin-left: 2%;
}

#scrape-dropdown-rule {
    width: 47%;
    margin-left: 2%;
    float: left;
}

#scrape-dropdown-data {
    width: 47%;
    margin-right: 2%;
    float: right;
}

#scrape-list {
    min-height: 35px;
    max-height: 350px;
    overflow-y: auto;
}





#rule-set-name {
    width: calc(100% - 8px);
    font-size: large;
}

#rule-set-name-container,
#rule-name-container {
    width: calc(100% - 8px);
    text-align: center;
}


#rule-name-container {
    height: 35px;
    width: calc(100% - 8px);
    display: flex;
    flex-flow:row nowrap;
    align-items:center;
}

#rule-prev,
#rule-next {
    width: 44px;
    padding: 4px;
}

#rule-name {
    height: 100%;
    width: calc(100% - 88px);
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
    text-align: left;
    flex:1 1 100%;
}

#rule-checkbox-container,
#rule-selected-value-container {
    text-align: center;
}

#rule-find {
    height: 40px;
}

#rule-find > input {
    width: calc(100% - 40px);
    height: calc(100% - 8px);
    margin-top: 4px;
    margin-bottom: 4px;
}

#rule-find > button {
    width: 40px;
    height: 100%;
    float: right;
    background: transparent;
    border: none;
    color: black;
}
#rule-find > button:hover {
    background: rgba(0, 0, 0, .12);
}



#export-dropdown-data {
    margin-left: 2%;
}

.export-dropdown-container {
    text-align: center;
}





.margin-xs {
    margin: 2px;
}

.margin-sm {
    margin: 4px;
}

.margin-med {
    margin: 10px;
}

.margin-lg {
    margin: 14px;
}

.margin-xl {
    margin: 16px;
}



#mouseover_overlay {
    position: fixed;
    z-index: 999999999999999;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: rgba(0, 100, 255, 0.3);
    pointer-events: none;
    transition: 0.2s; /* Just for fun */
}